In [3]:
#by using instance
class Employee:
    company = "IBM"
    salary = 5000
lucy = Employee()
silu = Employee()
maria = Employee()
ani = Employee()
piyush = Employee()
abhishek = Employee()
lucy.salary = 4000
silu.salary = 40000
print(lucy.company)
print(silu.company)
Employee.company = "HP"
print(piyush.company)
print(ani.company)
Employee.company = "TCS"
print(abhishek.company)
print(maria.company)
print(lucy.salary)
print(silu.salary)
print(abhishek.salary)
piyush.salary=6000
print(piyush.salary)
print(ani.salary)
maria.salary=80000
print(maria.salary)

IBM
IBM
HP
HP
TCS
TCS
4000
40000
5000
6000
5000
80000